@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    /* Color Pallets */ 
    --primary-color: rgba(152,93,206,255);
    --secondary-color: rgba(187,107,218,255);
    --tertiary-color: rgba(3,3,3,255);
    --Quaternary-color: rgba(25,0,25,100%);
    --Quinary-color: rgba(4,7,16,255);
    --white-color: #ffff;

    /* =============== FONTS =============== */
    --body-font: 'Poppins', sans-serif;
    --big-fonts: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* =============== FONTS WEIGHTS =============== */
    --font-thin: 100;
    --font-small: 300;
    --font-medium: 500;
    --font-semi-bold: 600;

    /* =============== MARGIN BOTTOM =============== */
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;

    /* =============== Z-INDEX =============== */
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* =============== BASE STYLES =============== */

* {
  box-sizing: border-box;
  padding: 0;  
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0; 
  background-color: var(--white-color);
  color: var(--primary-color);
  transition: .4s;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

h1, h2, h3 {
  color: var(--primary-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* =============== REUSABLE COMPONENTS =============== */
.section {
  padding: 5.5rem 0 1rem;
}

.section__title {
  font-size: 2.5rem;
  margin-bottom: var(--mb-2);
  line-height: 140%;
  text-align: center;
  padding-top: 2.5rem;
}

.container {
  max-width: 100%;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

/* ============== HEADER SECTION ============== */
.header {
  position: fixed;
  width: 100%;
  background-color: var(--Quinary-color);
  color: var(--primary-color);
  padding: 0.5rem 0; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.header .store__name {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-0-5);
  padding-left: 2rem;
}

/* ============== NAVIGATION SECTION ============== */
.nav__con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin: 10px auto 10px; 
}  
  
.nav__items {
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
  transition: all 0.3s ease-in-out;
}
  
.nav__items:hover {
  transform: scale(1.1);
}
  
.nav__link {
  color: var(--primary-color);
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  transition: all 0.3s ease-in-out;
}
  
.nav__link:hover {
  color: var(--secondary-color);
}
  
.nav__items.active {
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 10px;
}
  
.nav__items.active .nav__link {
  color: var(--primary-color);
  font-weight: var(--font-semi-bold);
}

.play__now {
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 10px 20px;
  background-color: var(--secondary-color);
}
  
.play__now .nav__link {
  color: var(--tertiary-color);
}

/* ============== HOME SECTION ============== */
.home {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url(../media/background_7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__container {
  padding-left: 3rem;
  text-align: center;
}

.title__banner {
  font-size: 6rem;
  font-weight: var(--font-semi-bold);
  color: var(--primary-color);
  max-width: 500px;
  margin: 0;
  padding-left: 0;
}

.sub__banner {
  font-size: 1.5rem;
  font-weight: var(--font-medium);
  color: var(--primary-color);
  margin-bottom: var(--mb-2);
  text-align: left;
}

.button-container {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
}

.playNow {
  margin-left: 0;
  padding-left: 0;
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  padding: 15px 30px;
  border-radius: 5px;
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.playNow:hover {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

.learnMore {
  margin-left: 0;
  padding-left: 0;
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 15px 30px;
  border-radius: 5px;
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: left;
}

.learnMore:hover {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  border-color: var(--primary-color);
}

/* ============== GAMES SECTION ============== */
.games {
  background-color: var(--Quinary-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  padding: 2.5rem 0 1rem;
}

.games__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 2.5rem 0;
}

.game__cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  text-align: center;
  width: 80%;
  padding: 2rem;
  background-color: var(--Quinary-color);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.game__image {
  flex-basis: 30%;
  height: auto;
  border-radius: 10px;
}

.game__info {
  padding-left: 3rem;
  flex-basis: 70%;
  text-align: left;
}

.game__title {
  font-size: 2rem;
  font-weight: var(--font-semi-bold);
  color: var(--primary-color);
  margin-bottom: var(--mb-1);
}

.game__description {
  font-size: var(--h3-font-size);
  text-align: justify;
  color: var(--primary-color);
  line-height: 1.5;
  margin-bottom: var(--mb-2);
}

.cardPlay {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  padding: .5rem 1rem;
  border-radius: 50px;
  font-size: var(--h3-font-size);
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.cardPlay:hover {
  background-color: var(--primary-color);
}

/* ============== LEADERBOARD SECTION ============== */
.leaderboard {
  background-image: url(../media/background_8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  padding: 5.5rem 0 1rem;
}
  
.leaderboard__container {
  max-width: 40%; 
  margin: 5rem; 
}
  
.leaderboard__title {
  font-size: 2.5rem;
  font-weight: var(--font-semi-bold);
  color: var(--primary-color);
  margin-bottom: var(--mb-2);
  text-align: left; 
}
  
.lb__SubPragragph {
  font-size: 1.25rem;
  font-weight: var(--font-medium);
  color: var(--primary-color);
  margin-bottom: var(--mb-1-5);
  text-align: left; 
}

.lb__info {  
  max-width: 100%; 
  margin: 0 auto; 
}

/* ============== HOW TO PLAY SECTION ============== */
.how_to_play {
  background-color: var(--Quinary-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  padding: 2.5rem 0 1rem;
}

/* ============== SIGN IN / SIGN UP SECTION ============== */
.register__form {
  background-image: url(../media/background_5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  padding: 5.5rem 0 1rem;
}

.register__container{
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.register__container h1 {
  font-size: var(--h1-font-size);
  color: var(--primary-color);
}
.register__container p{
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.register__container span{
  font-size: 12px;
}

.register__container a{
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.register__container button{
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.register__container button.hidden{
  background-color: transparent;
  border-color: #fff;
}

.register__container form{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.register__container input{
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.form-container{
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in{
  left: 0;
  width: 50%;
  z-index: 2;
}

.register__container.active .sign-in{
  transform: translateX(100%);
}

.sign-up{
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.register__container.active .sign-up{
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move{
  0%, 49.99%{
      opacity: 0;
      z-index: 1;
  }
  50%, 100%{
      opacity: 1;
      z-index: 5;
  }
}

.social-icons{
  margin: 20px 0;
}

.social-icons a{
  border: 1px solid #ccc;
  border-radius: 20%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  width: 40px;
  height: 40px;
}

.toggle-container{
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000;
}

.toggle-container h1 {
  color: var(--tertiary-color);
}

.register__container.active .toggle-container{
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}

.toggle{
  height: 100%;
  background-image: url(..//media/Spicy\ Garlic\ Tuna\ Pasta.jpg);
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
  overflow: hidden;
}

.register__container.active .toggle{
  transform: translateX(50%);
}

.toggle-panel{
  overflow: hidden;
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-panel button {
  color: var(--tertiary-color);
}

.toggle-left{
  overflow: hidden;
  color: var(--tertiary-color);
  transform: translateX(-200%);
}

.register__container.active .toggle-left{
  transform: translateX(0);
}

.toggle-right{
  overflow: hidden;
  color: var(--tertiary-color);
  right: 0;
  transform: translateX(0);
}

.register__container.active .toggle-right{
  transform: translateX(200%);
}

/* ============== FOOTER SECTION ============== */
.footer {
  background-color: var(--primary-color);
  color: var(--Quinary-color);
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  font-size: 0.8rem;
}

.footer__link {
  text-decoration: none;
  color: var(--Quinary-color);
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.footer__link:hover {
  color: var(--secondary-color);
} 